/home/bensonnd/.msds/src/msds/.gitignore
.vscode/launch.json
.vscode/settings.json
/home/bensonnd/msds/ds7333/case_study_3/Data2/*
/home/bensonnd/msds/ds7333/case_study_3/Data/*
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/*Zone.Identifier
/home/bensonnd/.msds/src/msds/ds7333/case_study_6/Data/*
